.a-tooltip {
	position: absolute;
	border-radius: 4px;
	padding: 6px 10px;
	font-size: 14px;
	box-shadow: 0 2px 15px #ddd;
	width: 200px;
	max-height: 500px;
	display: none;

	.a-tooltip__angle {
		position: absolute;
		width: 8px;
		height: 8px;
		border-width: 1px;
		border-style: solid;
		border-color: transparent;
		transform: rotate(45deg);
	}
}
