/* button */
.a-button {
	display: inline-block;
	line-height: 1;
	white-space: nowrap;
	cursor: pointer;
	background: #fff;
	border: 1px solid #dcdfe6;
	color: #4c4e53;
	-webkit-appearance: none;
	text-align: center;
	box-sizing: border-box;
	outline: none;
	margin: 0;
	transition: 0.1s;
	font-weight: 500;
	user-select: none;
	padding: 10px 15px;
	font-size: 14px;
	border-radius: 2px;

	&:hover {
		background-color: #a0a0a0;
		color: #fff;
	}
}

/* toast */
.a-toast {
	position: fixed;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	font-size: 14px;
	padding: 10px 15px;
	border-radius: 4px;
	box-shadow: 0 0 5px #c9c9c9;
	z-index: 9999;
	border: none;
	color: #fff;
	background-color: #8a8a8a;
	
}

.a-toast.light {
	color: #000;
	border: 1px solid #bbb;
	background-color: #fff;
}

.a-toast__iconwrap {
	margin-right: 6px;
}
.a-toast__icon {
	width: 20px;
	fill: #777;
	vertical-align: bottom;
}

.a-toast__icon.success {
	fill: #13b945;
}

.a-toast__icon.info {
	fill: #777;
}

.a-toast__icon.warn {
	fill: #e9bd2d;
}

.a-toast__icon.error {
	fill: #ff6666;
}

.a-toast__icon.loading {
	animation: loading 0.8s linear infinite;
}

.fadeMoveIn {
	animation-name: fadeMoveIn;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
}

.fadeMoveOut {
	animation-name: fadeMoveOut;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
}

@keyframes fadeMoveIn {
	0% {
		transform: translateX(-50%) translateY(0px);
		opacity: 0;
	}

	100% {
		transform: translateX(-50%) translateY(40px);
		opacity: 1;
	}
}

@keyframes fadeMoveOut {
	0% {
		transform: translateX(-50%) translateY(40px);
		opacity: 1;
	}

	100% {
		transform: translateX(-50%) translateY(0px);
		opacity: 0;
	}
}

@keyframes loading {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* a-message-box */
.a-message-box__wrapper {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	/* z-index: 2000; */
	background-color: rgba(0, 0, 0, 0.315);

	display: flex;
	justify-content: center;
	align-items: center;
}

.a-message-box {
	display: inline-block;
	width: 420px;
	padding-bottom: 10px;
	vertical-align: middle;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #eee;
	font-size: 18px;
	box-shadow: 0 2px 12px 0 #c5c5c5;
	text-align: left;
	overflow: hidden;
	backface-visibility: hidden;
}

.a-message-box__header {
	position: relative;
	padding: 15px 15px 10px;
}

.a-message-box__title {
	padding-left: 0;
	margin-bottom: 0;
	font-size: 18px;
	line-height: 1;
	color: #303133;
}

.a-message-box__titleicon {
	fill: #777;
	width: 18px;
	vertical-align: top;
}

.a-message-box__titleicon.info {
	fill: #777;
}

.a-message-box__titleicon.success {
	fill: #13b945;
}

.a-message-box__titleicon.error {
	fill: #ff6666;
}

.a-message-box__titleicon.warn {
	fill: #e9bd2d;
}

.a-message-box__headerbtn {
	position: absolute;
	top: 15px;
	right: 15px;
	padding: 0;
	border: none;
	outline: none;
	background: transparent;
	font-size: 16px;
	cursor: pointer;
	vertical-align: middle;
}

.a-message-box__headerclose {
	width: 14px;
	fill: #aaa;
	transition: all 0.3s;
}

.a-message-box__headerclose:hover {
	fill: #666;
	transform: rotate(-180deg) scale(1.2);
}

.a-message-box__content {
	padding: 10px 15px;
	color: #606266;
	font-size: 14px;
}

.a-message-box__footer {
	padding: 5px 15px 0;
	text-align: right;
}

.a-message-box__btns {
	display: inline-block;
	line-height: 1;
	white-space: nowrap;
	cursor: pointer;
	-webkit-appearance: none;
	text-align: center;
	box-sizing: border-box;
	outline: none;
	margin: 0;
	transition: 0.1s;
	font-weight: 500;
	user-select: none;
	padding: 7px 10px;
	font-size: 14px;
	border-radius: 2px;
	background-color: #fff;
	border: 1px solid #dcdfe6;
	color: #4c4e53;
}

.a-message-box__btns.confirm {
	background-color: #25c1ff;
	color: #fff;
	border: 1px solid #6ad5ff;
	margin-left: 15px;
}

.fadeIn {
	animation-name: fadeIn;
	animation-duration: 400ms;
	animation-fill-mode: forwards;
}
.fadeOut {
	animation-name: fadeOut;
	animation-duration: 400ms;
	animation-fill-mode: forwards;
}

.scaleIn {
	animation-name: scaleIn;
	animation-duration: 400ms;
	animation-fill-mode: forwards;
}

.scaleOut {
	animation-name: scaleOut;
	animation-duration: 400ms;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes scaleIn {
	from {
		transform: scale(1.6);
	}
	to {
		transform: scale(1);
	}
}

@keyframes scaleOut {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.2);
	}
}
